<div class="container">
	<div class="row">
	  <div class="col-md-5">
			<!-- Search box -->
			<div class="form-group add-classes">
		    <label class="control-label">Add classes:</label>
		    <div>
					<input type="text" class="form-control" ng-model="classSelected"
					typeahead="class.department + class.number + ' ' + class.title
					for class in classes | filter: classFilter"
					typeahead-on-select="addClass($item, $model, $label)">
				</div>
		  </div>

			<!-- Unassigned classes -->
			<div class="form-group unassigned-classes">
				<!-- Header -->
				<div class="class-container-header">
					<i class="fa fa-circle" aria-hidden="true" style="color: {{unassignedLabel.color}}"></i>
					{{unassignedLabel.name}} classes
				</div> <!-- ./ Header -->
				<!-- Container -->
				<div class="class-container class-container-unassigned" data-drop="true" ng-model='unassignedLabel.classes' jqyoui-droppable="{multiple:true}">
					<div class="row">
						<div class="col-md-4 col" ng-repeat="item in unassignedLabel.classes" ng-model='unassignedLabel.classes'
						ng-show="item.title" data-drag="true"
						data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, animate:true}">

							<div class="class-box">
								{{item.department + " " + item.number}}
								<i ng-click="removeClass(item)" class="fa fa-times" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div> <!-- ./ Container -->
			</div> <!-- ./ Unassigned classes -->

		</div>

	  <div class="col-md-6 assigned-classes">
			<!-- Other labeled classes -->
			<div class="form-group">
				<!-- Header -->
				<div class="class-container-header">
					<i class="fa fa-circle" aria-hidden="true" style="color: {{assignedLabel.color}}"></i>
					{{assignedLabel.name}} classes
				</div> <!-- ./ Header -->

				<!-- Container -->
				<div class="class-container" data-drop="true" ng-model='assignedLabel.classes' jqyoui-droppable="{multiple:true}">
					<div class="row">
						<div class="col-md-4 col" ng-repeat="item in assignedLabel.classes" ng-model='assignedLabel.classes'
						ng-show="item.title" data-drag="true"
						data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, animate:true}">

							<div class="class-box">
								{{item.department + " " + item.number}}
								<i ng-click="removeClass(item)" class="fa fa-times" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div> <!-- ./ Container -->
			</div> <!-- ./ Other labeled classes -->
		</div>


	</div>
</div>



<div class="row">
	<div>
		<div data-drop="true" ng-model='list1' jqyoui-droppable="{multiple:true}" class="class-container-header">
			<div ng-repeat="label in list1" ng-show="label.title" data-drag="true"
			data-jqyoui-options="{revert: 'invalid'}" ng-model="list1"
			jqyoui-draggable="{index: {{$index}}, animate:true}"  class="btn btn-primary">
				{{label.title}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div>
		<div data-drop="true" ng-model='list2' jqyoui-droppable="{multiple:true}" class="class-container-header">
			<div ng-repeat="label in list2" ng-show="label.title" data-drag="true"
			data-jqyoui-options="{revert: 'invalid'}" ng-model="list2"
			jqyoui-draggable="{index: {{$index}}, animate:true}"  class="btn btn-primary">
				{{label.title}}
			</div>
		</div>
	</div>
</div>
