<div class="container">
  	<div class="row">
  		<div id="calendar">
  			<div id="assigned">
				<div class="class-container" ng-repeat="semester in semesters | limitTo: (1 - numsemesters)"  data-drop="true"
            ng-model='semester.classes' jqyoui-droppable="{multiple:true}">
					<div class="class-box" ng-repeat="class in semester.classes" ng-style="{'background-color':getLabelById(class[1]).color}"
          ng-show="class[0]" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
          ng-model="semester.classes" jqyoui-draggable="{index: {{$index}}, animate:true}" >
						{{getClassById(class[0]).title}}
					</div>
				</div>
			</div>
  			<div id="unassigned">
				<div class="class-container"  data-drop="true" ng-model='semesters[0].classes' jqyoui-droppable="{multiple:true}" >
          <div class="class-box col-md-3" ng-repeat="class in semesters[0].classes" ng-style="{'background-color':getLabelById(class[1]).color}"
          ng-show="class[0]" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
          ng-model="semesters[0].classes" jqyoui-draggable="{index: {{$index}}, animate:true}" >
						{{getClassById(class[0]).title}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
